<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/public/index.css">
    </head>
  <body>

    <h3 class="h3_complete">Game Complete</h3>
    <p class="img">
    <img src="../img/5.jpeg" alt="hedgehog" style="max-width: 500px; height: auto;">
    </p>

  </body>
</html>