<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Game Over</title>
    <link rel="stylesheet" href="/public/index.css">
  <body>

    <h3 class="h3_complete">Game Over</h3>
    <p class="img">
    <img src="https://www.svgrepo.com/show/141196/death-skull-and-bones.svg" alt="hedgehog">
    </p>

  </body>
</html>